_n8n/jekyll_autopost.json
{
  "name": "jekyll-autopost",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1740,
        420
      ],
      "typeVersion": 1,
      "id": "5efad78c-f4ea-490e-83c9-9c8c34eaeb21"
    },
    {
      "parameters": {
        "filePath": "/data/recipes.csv",
        "dataPropertyName": "=data"
      },
      "name": "Read CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        -1480,
        460
      ],
      "typeVersion": 1,
      "id": "884e4291-6483-4865-a1c4-35e0d466cfab"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1080,
        440
      ],
      "typeVersion": 1,
      "id": "bfddf1ce-7d31-4cca-b249-be0ffbc2978c"
    },
    {
      "parameters": {
        "amount": "={{ $json.data_pubblicazione }}",
        "unit": "="
      },
      "name": "Wait Until Publish",
      "type": "n8n-nodes-base.wait",
      "position": [
        -220,
        -180
      ],
      "typeVersion": 1,
      "id": "53a35d7c-b210-4b27-82e4-61fe7eba9bf4",
      "webhookId": "30845b53-aed7-4988-893f-87c7b105d284",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "antonio-backend-projects",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "jekyll-recipe-ai",
          "mode": "list",
          "cachedResultName": "jekyll-recipe-ai",
          "cachedResultUrl": "https://github.com/antonio-backend-projects/jekyll-recipe-ai"
        },
        "filePath": "={{ $json[\"markdownPath\"] }}",
        "fileContent": "={{ $('Code').item.json.markdownContent }}",
        "commitMessage": "=={{ 'Add recipe: ' + $json.titolo }}"
      },
      "name": "Commit Markdown",
      "type": "n8n-nodes-base.github",
      "position": [
        -100,
        360
      ],
      "typeVersion": 1,
      "id": "d885e9ab-0f9c-46c2-af27-914628718365",
      "webhookId": "eb971001-46af-4c10-abcb-e7629114afe5",
      "credentials": {
        "githubApi": {
          "id": "kNB4qc6xYAhI11tb",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createTweet"
      },
      "name": "Post on X",
      "type": "n8n-nodes-base.twitter",
      "position": [
        160,
        -220
      ],
      "typeVersion": 1,
      "id": "78d9ca4f-392d-47f6-98c1-b5b2a671c736",
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{$json.titolo}}",
        "additionalFields": {}
      },
      "name": "Post on LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        340,
        200
      ],
      "typeVersion": 1,
      "id": "319bd723-ff2c-40ca-9519-b38107323b49",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1260,
        -40
      ],
      "id": "7e6d5cac-befd-4cb6-8564-b4268e9dd04e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "## Write SEO Optimized Blog Post\n\n\n",
        "height": 440,
        "width": 420,
        "color": 3
      },
      "id": "f72b0e71-92bb-4eb5-ad18-5c5abecd3699",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -980,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un food writer SEO-first per un blog Jekyll di ricette italiane. \nScrivi un articolo di 800-1000 parole, tono professionale ma caldo e accessibile. \nNON includere alcun front-matter.\n\n### INPUT DEL POST\n- Titolo ricetta: {{ $json.titolo }}\n- Descrizione / brief: {{ $json.prompt_descrizione }}\n- Keyword principale: {{ $json.keyword_principale }}\n- Keyword secondarie (da integrare naturalmente): {{ $json.keyword_secondarie }}\n\n### LINEE GUIDA\n1. Usa un H2 con il titolo esatto all’inizio dell’articolo.  \n2. Inserisci la **keyword principale** nel titolo, nel primo paragrafo e in almeno un H3.  \n3. Struttura l’articolo in Markdown con questi blocchi **nell’ordine**:\n   - Introduzione (breve storia o curiosità sulla ricetta)\n   - Sezione *Ingredienti* (lista puntata)\n   - Sezione *Procedimento* (passaggi numerati)\n   - Consigli dello chef / trucchi per un risultato perfetto\n   - Abbinamento vini o bevande\n   - Varianti o sostituzioni possibili\n   - FAQ (almeno 3 domande/risposte rapide)\n   - Conclusione con **CTA**: invita a provare la ricetta e a visitare altre ricette sul blog\n4. Evidenzia parole chiave usando **bold** o *corsivo* dove appropriato (senza abusarne).  \n5. Mantieni frasi e paragrafi corti, usa bullet point e heading H3 per la leggibilità.  \n6. Evita emoji e frasi troppo promozionali; tono amichevole ma autorevole.  \n7. L’output deve essere **solo il contenuto Markdown** dell’articolo, senza spiegazioni aggiuntive.\n\n### OBIETTIVO SEO\n- Ottimizza per la keyword principale senza forzature; distribuisci le secondarie in modo naturale.\n- Usa sinonimi in italiano quando opportuno (es. “funghi porcini freschi”, “riso Carnaroli”, ecc.).\n",
        "options": {}
      },
      "id": "49cfd514-17d0-467b-b658-7a1cc64fffc2",
      "name": "Copywriter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -900,
        0
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "16b047d2-0d4d-4fa7-a4f9-9b65025d51f0",
      "name": "gpt-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -900,
        200
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "4e4Nzus45cL71Qsf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Item proveniente da \"Split In Batches\" (indice 0)\nconst base = $items(\"Split In Batches\")[0].json;\n\n// 1. Slug SEO-friendly\nconst slug = base.titolo\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/(^-|-$)/g, '');\n\n// 2. Front-matter Jekyll\nconst frontMatter = `---\\ntitle: \"${base.titolo}\"\\ndate: ${base.data_pubblicazione} +0200\\nlayout: post\\n---`;\n\n// 3. Contenuto AI\nconst aiContent = $json.output.trim();\n\n// 4. Markdown completo\nconst markdown = `${frontMatter}\\n\\n${aiContent}`;\n\nreturn [\n  {\n    json: {\n      ...base,                // mantiene titolo, keyword…\n      slug,\n      markdownPath: `_posts/${base.data_pubblicazione.slice(0,10)}-${slug}.md`,\n      markdownContent: markdown\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        20
      ],
      "id": "27288133-400d-4957-b7d2-b1ee2260c12a",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst CSV_PATH = '/data/recipes.csv';\n\n// 1. Leggi il CSV attuale\nconst rawCsv = fs.readFileSync(CSV_PATH, 'utf8').trim();\nconst rows   = rawCsv.split('\\n');\n\n// 2. Filtra via la riga pubblicata\nconst filtered = rows.filter((row, idx) => {\n\tif (idx === 0) return true;            // header\n\treturn row.split(';')[0] !== $json.titolo;\n});\n\n// 3. Se è cambiato, riscrivi il file\nif (filtered.length !== rows.length) {\n\tconst newCsv = filtered.join('\\n') + '\\n';\n\tfs.writeFileSync(CSV_PATH, newCsv, 'utf8');\n}\n\n// 4. Restituisci l’item JSON senza binari inutili\n// 4. Restituisci l’item originale (senza binari aggiuntivi)\nreturn [\n\t{\n\t\tjson: $json\n\t}\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        500
      ],
      "id": "a7816b95-b5a0-44b6-af54-a90177524f7e",
      "name": "Remove the processed csv line"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1660,
        -180
      ],
      "id": "39814681-6340-4b30-a4b9-14bc8298243f",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove the processed csv line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Copywriter AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove the processed csv line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until Publish": {
      "main": [
        [
          {
            "node": "Commit Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Markdown": {
      "main": [
        [
          {
            "node": "Post on X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on X": {
      "main": [
        [
          {
            "node": "Post on LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait Until Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove the processed csv line": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ce77bdb-3568-43ea-8e92-c5a282b870e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f74342ff568910c758d020acefb80f2657dc713cb52c621dc9a1d12c88452f1"
  },
  "id": "G2rpmq6qJiMyA708",
  "tags": []
}